opencvmq/exportNodeRed.txt.txt
[{"id":"e9df3072.f5ece","type":"ui_text","z":"4648ccd5.591624","group":"13b3a1c4.38bd5e","order":3,"width":0,"height":0,"name":"","label":"temperature","format":"{{msg.payload}}","layout":"row-spread","x":445.0115032196045,"y":161.0277681350708,"wires":[]},{"id":"13e96fcf.f04bf","type":"worldmap","z":"4648ccd5.591624","name":"","lat":"45.75","lon":"4.85","zoom":"1","layer":"OSM","cluster":"","maxage":"200","usermenu":"show","layers":"show","hiderightclick":"false","coords":"deg","showgrid":"true","path":"","x":988.0093154907227,"y":296.0056676864624,"wires":[]},{"id":"65f30ab8.3c9224","type":"function","z":"4648ccd5.591624","name":"USGS Quake monitor csv re-parse","func":"msg.payload.lat = msg.payload.latitude+\"\";\nmsg.payload.lon = msg.payload.longitude+\"\";\nmsg.payload.layer = \"earthquake\";\nmsg.payload.name = \"test\";\nmsg.payload.icon = \"globe\";\nmsg.payload.iconColor = \"orange\";\n\ndelete msg.payload.latitude;\ndelete msg.payload.longitude;\t\nreturn msg;","outputs":1,"noerr":0,"x":907.0093154907227,"y":379.00561809539795,"wires":[["13e96fcf.f04bf"]]},{"id":"b0ea4fad.50a5","type":"debug","z":"4648ccd5.591624","name":"payload.latitude","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.latitude","targetType":"msg","x":551.9373321533203,"y":368.3957920074463,"wires":[]},{"id":"5bdde97a.b50d28","type":"ui_text","z":"4648ccd5.591624","group":"13b3a1c4.38bd5e","order":3,"width":0,"height":0,"name":"latitude","label":"latitude","format":"{{msg.payload}}","layout":"row-spread","x":281.93362045288086,"y":475.87121868133545,"wires":[]},{"id":"fb304359.d500a","type":"inject","z":"4648ccd5.591624","name":"","topic":"","payload":"{ \"lat\":45.713591, \"lon\":4.895110, \"name\":\"A3090\", \"radius\":3000 }","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":238.00940704345703,"y":951.460202217102,"wires":[["498e86d4.7d2718"]]},{"id":"498e86d4.7d2718","type":"worldmap","z":"4648ccd5.591624","name":"","lat":"","lon":"","zoom":"","layer":"","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","hiderightclick":"false","coords":"none","x":438.00940704345703,"y":951.460202217102,"wires":[]},{"id":"12376426.80118c","type":"ui_form","z":"4648ccd5.591624","name":"","label":"coordinates","group":"13b3a1c4.38bd5e","order":1,"width":0,"height":0,"options":[{"label":"latitude","value":"latitude","type":"text","required":true},{"label":"longitude","value":"longitude","type":"text","required":true},{"label":"color","value":"color","type":"text","required":true}],"formValue":{"latitude":"","longitude":"","color":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":141.93931579589844,"y":240.4355754852295,"wires":[["65f30ab8.3c9224","b0ea4fad.50a5","41ead292.f82c0c","5bdde97a.b50d28","4e7d987.9305868","f52b663e.5aabf8"]]},{"id":"41ead292.f82c0c","type":"ui_text","z":"4648ccd5.591624","group":"13b3a1c4.38bd5e","order":2,"width":0,"height":0,"name":"longitude","label":"longitude","format":"{{msg.payload.longitude}}","layout":"row-spread","x":280.0094509124756,"y":439.73303508758545,"wires":[]},{"id":"4e7d987.9305868","type":"debug","z":"4648ccd5.591624","name":"payload.longitude","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.longitude","targetType":"msg","x":568.009391784668,"y":402.7329378128052,"wires":[]},{"id":"f52b663e.5aabf8","type":"file","z":"4648ccd5.591624","name":"C:\\Users\\Marc\\Pos.txt","filename":"C:\\Users\\Marc\\Pos.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":390.24536323547363,"y":215.59954738616943,"wires":[[]]},{"id":"f258065.e6e4cf8","type":"ui_template","z":"4648ccd5.591624","group":"994c3596.a04988","name":"www","order":1,"width":0,"height":0,"format":"<iframe style=\"width:858px; height:600px;\" frameborder=\"0\" scrolling=\"no\" marginheight=\"0\" marginwidth=\"0\" src=\"http://127.0.0.127:1880/worldmap/\"></iframe>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":268.01150131225586,"y":548.3611545562744,"wires":[[]]},{"id":"6cfe268d.0db188","type":"function","z":"4648ccd5.591624","name":"Add SS1","func":"var SS1  =  {\n    name:\"SS1 : Kurunegala\", \n    lat:7.486944, \n    lon:80.365045,\n    icon:\"tag\",\n    iconColor:\"dark\",\n    extrainfo:\"Hello ! this is station 1\"\n};\nmsg.payload = SS1;\n\nreturn msg;","outputs":1,"noerr":0,"x":786.0113143920898,"y":267.95362091064453,"wires":[["13e96fcf.f04bf"]]},{"id":"e3bd56c7.9c3418","type":"worldmap in","z":"4648ccd5.591624","name":"","path":"/worldmap","x":678.0114669799805,"y":941.3611421585083,"wires":[["b650d67d.cbd618","d6968307.1fbc4"]]},{"id":"b650d67d.cbd618","type":"debug","z":"4648ccd5.591624","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":848.0114669799805,"y":901.3611421585083,"wires":[]},{"id":"d6968307.1fbc4","type":"switch","z":"4648ccd5.591624","name":"","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"connected","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":848.0114669799805,"y":941.3611421585083,"wires":[[]]},{"id":"76bf442d.7b82bc","type":"comment","z":"4648ccd5.591624","name":"Reload trigger","info":"The output from the switch will fire whenever a browser connects (or reconnects).\n\nThis can be used to retrieve stored datapoints and resend them to the map, as by default the main does not retain any sata between refreshes.\n\nThe debug node will show other properties that may be useful to trigger other actions.\n","x":688.0114669799805,"y":901.3611421585083,"wires":[]},{"id":"f320859f.926438","type":"worldmap","z":"4648ccd5.591624","name":"","lat":"","lon":"","zoom":"","layer":"OSM","cluster":"","maxage":"","usermenu":"hide","panit":"true","x":648.0114669799805,"y":1186.5833711624146,"wires":[]},{"id":"5ba14b70.c991e4","type":"inject","z":"4648ccd5.591624","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":188.01146697998047,"y":1126.5833711624146,"wires":[["8faf464e.ce0a98"]]},{"id":"8faf464e.ce0a98","type":"function","z":"4648ccd5.591624","name":"","func":"// create random position\nvar lat = 51 + Math.random() * 0.2;\nvar lon = -1.45 + Math.random() * 0.2;\nmsg.payload={\n    lat:lat, \n    lon:lon, \n    name:\"Mike\", \n    icon:\"male\", \n    color:\"#000\"};\nreturn msg;","outputs":1,"noerr":0,"x":368.01146697998047,"y":1186.5833711624146,"wires":[["f320859f.926438","9eea01a0.692c2"]]},{"id":"dd50cc12.e0054","type":"inject","z":"4648ccd5.591624","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":168.01146697998047,"y":1246.5833711624146,"wires":[["362aa704.73c658"]]},{"id":"6aaec871.3827f8","type":"ui_template","z":"4648ccd5.591624","group":"2c717f19.855ef","name":"","order":0,"width":"6","height":"6","format":"<div ng-bind-html=\"msg.payload | trusted\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":538.0114669799805,"y":1246.5833711624146,"wires":[[]]},{"id":"362aa704.73c658","type":"template","z":"4648ccd5.591624","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<iframe src=\"../worldmap\" height=300px ></iframe>","x":368.01146697998047,"y":1246.5833711624146,"wires":[["6aaec871.3827f8"]]},{"id":"d6b68914.8ed9c8","type":"ui_button","z":"4648ccd5.591624","name":"","group":"2c717f19.855ef","order":0,"width":0,"height":0,"label":"Move Mike","color":"","icon":"fa-male","payload":"","payloadType":"str","topic":"","x":188.01146697998047,"y":1186.5833711624146,"wires":[["8faf464e.ce0a98"]]},{"id":"9858a4f1.f19c88","type":"comment","z":"4648ccd5.591624","name":"How to embed Map in Dashboard","info":"This example shows how to embed the Worldmap \ninto a template node within the `node-red-dashboard`\n\nThe first flow creates a dashboard button that \ngenerates a randon position, with the required \nicon, and passes that to the worldmap. The\nmap is configured to automatically pan to the\nposition of any point that arrives.\n\nThe second flow initialise the dashboard template\nwith the initial map and sets it to a more square shape\nby adjusting the height.","x":238.01146697998047,"y":1066.5833711624146,"wires":[]},{"id":"9eea01a0.692c2","type":"worldmap-tracks","z":"4648ccd5.591624","name":"","depth":"5","layer":"combined","x":508.01146697998047,"y":1146.5833711624146,"wires":[["f320859f.926438"]]},{"id":"22909c49.21e424","type":"inject","z":"4648ccd5.591624","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":182.0114974975586,"y":1346.916745185852,"wires":[["9ee29645.91c898"]]},{"id":"9ee29645.91c898","type":"function","z":"4648ccd5.591624","name":"add new layer","func":"msg.payload = {};\nmsg.payload.command = {};\n\nvar u = 'http://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png';\nvar o = { maxZoom: 19, attribution: '&copy; OpenStreetMap'};\n\nmsg.payload.command.map = {name:\"OSMhot\", url:u, opt:o};\nmsg.payload.command.layer = \"OSMhot\";\n\nreturn msg;","outputs":1,"noerr":0,"x":412.0114974975586,"y":1346.916745185852,"wires":[["52d6addd.f71ce4"]]},{"id":"52d6addd.f71ce4","type":"worldmap","z":"4648ccd5.591624","name":"","x":742.0114974975586,"y":1386.916745185852,"wires":[]},{"id":"2ddd81c4.a5db1e","type":"function","z":"4648ccd5.591624","name":"USGS Quake monitor csv re-parse","func":"msg.payload.lat = msg.payload.latitude;\nmsg.payload.lon = msg.payload.longitude;\nmsg.payload.layer = \"earthquake\";\nmsg.payload.name = msg.payload.id;\nmsg.payload.icon = \"globe\";\nmsg.payload.iconColor = \"orange\";\n\ndelete msg.payload.latitude;\ndelete msg.payload.longitude;\t\nreturn msg;","outputs":1,"noerr":0,"x":532.0114974975586,"y":1486.916745185852,"wires":[["52d6addd.f71ce4"]]},{"id":"6a57222b.4e0c4c","type":"function","z":"4648ccd5.591624","name":"move and zoom","func":"msg.payload = { command:{layer:\"Esri Terrain\",lat:0,lon:0,zoom:3} };\nreturn msg;","outputs":1,"noerr":0,"x":412.0114974975586,"y":1386.916745185852,"wires":[["52d6addd.f71ce4"]]},{"id":"5e498434.27be7c","type":"csv","z":"4648ccd5.591624","name":"","sep":",","hdrin":true,"hdrout":"","multi":"one","ret":"\\n","temp":"","skip":0,"x":382.0114974975586,"y":1426.916745185852,"wires":[["2ddd81c4.a5db1e","5ed529bd.fbf7b8","9b560380.4f0a4"]]},{"id":"966cf945.4e1d88","type":"inject","z":"4648ccd5.591624","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":182.0114974975586,"y":1386.916745185852,"wires":[["6a57222b.4e0c4c"]]},{"id":"1c55edb2.9c6d32","type":"inject","z":"4648ccd5.591624","name":"Quakes","topic":"","payload":"","payloadType":"none","repeat":"900","crontab":"","once":false,"x":192.0114974975586,"y":1426.916745185852,"wires":[["eec3ca4b.9b3bf8"]]},{"id":"e2c8f959.0d8008","type":"inject","z":"4648ccd5.591624","name":"","topic":"Museum","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":238.0114974975586,"y":1570.916745185852,"wires":[["c4d29674.db2938"]]},{"id":"c4d29674.db2938","type":"http request","z":"4648ccd5.591624","name":"","method":"GET","ret":"obj","url":"https://gist.githubusercontent.com/ryanbaumann/a7d970386ce59d11c16278b90dde094d/raw/8c384b4e418670a35dc054ab7da6638ff4073a69/indoor_3D_map_example.geojson","tls":"","x":388.0114974975586,"y":1570.916745185852,"wires":[["f1f333af.e0ac4"]]},{"id":"f1f333af.e0ac4","type":"function","z":"4648ccd5.591624","name":"","func":"var m = {overlay:msg.topic, geojson:msg.payload, fit:true};\n\nmsg.payload = {command:{map:m, lat:45.000, lon:-5.000}};\n\nreturn msg;","outputs":1,"noerr":0,"x":548.0114974975586,"y":1570.916745185852,"wires":[["63da76ae.93b938"]]},{"id":"63da76ae.93b938","type":"worldmap","z":"4648ccd5.591624","name":"","lat":"45","lon":"5","zoom":"","layer":"OSM grey","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","hiderightclick":"false","coords":"none","path":"","x":788.0114974975586,"y":1570.916745185852,"wires":[]},{"id":"5ed529bd.fbf7b8","type":"debug","z":"4648ccd5.591624","name":"msg.payload.latitude","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.latitude","targetType":"msg","x":899.011417388916,"y":1425.9167757034302,"wires":[]},{"id":"9b560380.4f0a4","type":"debug","z":"4648ccd5.591624","name":"payload.longitude","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.longitude","targetType":"msg","x":880.0834732055664,"y":1487.2539258003235,"wires":[]},{"id":"eec3ca4b.9b3bf8","type":"file in","z":"4648ccd5.591624","name":"C:\\Users\\Marc\\2.8_day.csv","filename":"C:\\Users\\Marc\\2.8_day.csv","format":"lines","chunk":false,"sendError":false,"encoding":"ascii","x":216.0114974975586,"y":1489.1388101577759,"wires":[["5e498434.27be7c"]]},{"id":"7b7491eb.9a7f4","type":"pythonshell in","z":"4648ccd5.591624","name":"Recongnize weight","pyfile":"/opencvmq/recognize_digits3.py","virtualenv":"","continuous":true,"stdInData":false,"x":475.0114288330078,"y":76.02776336669922,"wires":[["5754ee11.df7d4","d07a4eb5.07ca4"]]},{"id":"5754ee11.df7d4","type":"debug","z":"4648ccd5.591624","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":723.2452545166016,"y":54.1597204208374,"wires":[]},{"id":"13f858b8.7b1d67","type":"tesseract","z":"4648ccd5.591624","name":"","language":"eng","x":402.2499313354492,"y":698.7778081893921,"wires":[[]]},{"id":"d07a4eb5.07ca4","type":"ui_text","z":"4648ccd5.591624","group":"13b3a1c4.38bd5e","order":3,"width":0,"height":0,"name":"","label":"temperature","format":"{{msg.payload}}","layout":"row-spread","x":734.2453231811523,"y":137.83796405792236,"wires":[]},{"id":"32cfd1fb.39387e","type":"ui_button","z":"4648ccd5.591624","name":"","group":"13b3a1c4.38bd5e","order":4,"width":0,"height":0,"passthru":false,"label":"convert temp","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":187.25457000732422,"y":133.3842339515686,"wires":[["e9df3072.f5ece","7b7491eb.9a7f4","d07a4eb5.07ca4"]]},{"id":"13b3a1c4.38bd5e","type":"ui_group","z":"","name":"www","tab":"40e75338.aff6cc","order":1,"disp":false,"width":"8","collapse":false},{"id":"994c3596.a04988","type":"ui_group","z":"","name":"Default","tab":"40e75338.aff6cc","order":2,"disp":true,"width":"12","collapse":false},{"id":"2c717f19.855ef","type":"ui_group","z":"4648ccd5.591624","name":"Default","tab":"10932695.a9ce69","disp":true,"width":"6"},{"id":"40e75338.aff6cc","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"10932695.a9ce69","type":"ui_tab","z":"4648ccd5.591624","name":"Home","icon":"dashboard"}]